/* Font imports */
@import url("https://fonts.googleapis.com/css?family=Nunito");

#root {
	display: flex;
	justify-content: center;
	margin: 0.5rem;
}

/* Controllable Component stylings*/

.select-input {
	border-radius: 8px;
	width: 10rem;
	height: auto;
	font-family: Nunito;
	color: #282c34;
	margin: 1rem 0.5rem;
}

.select-calculation-type {
	width: 14rem;
}
