/* Font imports */
@import url("https://fonts.googleapis.com/css?family=Nunito");

#root {
	display: flex;
	justify-content: center;
	margin: 0.5rem;
}

.dice-faces-enter {
	opacity: 0;
}
.dice-faces-enter-active {
	opacity: 1;
	transition: opacity 200ms;
}

.dice-faces-enter-done {
	opacity: 1;
}

.dice-faces-exit {
	opacity: 1;
}
.dice-faces-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}

.dice-faces-exit-done {
	opacity: 0;
}

/* Controllable Component stylings*/

.select-input {
	border-radius: 8px;
	width: 10rem;
	height: auto;
	font-family: Nunito;
	color: #282c34;
}

.select-calculation-type {
	width: 14rem;
	margin-top: 0.25rem;
}
