/* Font imports */
@import url("https://fonts.googleapis.com/css?family=Nunito");

#root {
	display: flex;
	justify-content: center;
	margin: 0.5rem;
}

.error-enter {
	opacity: 0;
}

.error-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.error-exit {
	opacity: 1;
}

.error-exit-active {
	opacity: 0;
	transition: opacity 500ms;
}

.spin-loader-enter {
	opacity: 1;
	max-height: 0;
}

.spin-loader-enter-active {
	max-height: 20rem;
	opacity: 1;
	transition: max-height 1000ms ease, opacity 600ms ease-in-out;
}

.spin-loader-exit {
	max-height: 20rem;
	opacity: 1;
}

.spin-loader-exit-active {
	max-height: 0;
	opacity: 0;
	transition: max-height 1000ms ease, opacity 600ms ease-in-out;
}

.spin-loader-exit-done {
	max-height: 0;
	opacity: 0;
}

.output-enter {
	max-height: 0;
	opacity: 0;
}

.output-enter-active {
	max-height: 20rem;
	opacity: 1;
	transition: max-height 1000ms ease-in-out, opacity 600ms ease-in-out;
}

.output-enter-done {
	max-height: 20rem;
}

.output-exit {
	opacity: 1;
	max-height: 0rem;
}

.output-exit-active {
	opacity: 1;
	max-height: 0rem;
	transition: max-height 1000ms ease-in-out, opacity 600ms ease-in-out;
}

.output-exit-done {
	max-height: 0;
}

/* Controllable Component stylings*/

.select-input {
	border-radius: 8px;
	width: 10rem;
	height: auto;
	font-family: Nunito;
	color: #282c34;
	margin: 1rem 0.5rem;
}

.select-calculation-type {
	width: 14rem;
}
